#dwm {
    position: absolute;
    width: 100%;
    height: 100%;
}
#dwm_terminal {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}
#dwm_terminal .terminal_click {
    margin-left: 10px;
    float: left;
}
#dwm_terminal .terminal_click .red {
    background-color: #ff1b22;
    box-shadow: 0 0 1px #ff1b22;
}
#dwm_terminal .terminal_click .red:hover {
    background-color: #ff6268;
    box-shadow: 0 0 3px #ff1b22;
}
#dwm_terminal .terminal_click .yellow {
    background-color: #ffaf00;
    box-shadow: 0 0 1px #ffaf00;
}
#dwm_terminal .terminal_click .yellow:hover {
    background-color: #ffd373;
    box-shadow: 0 0 3px #ffaf00;
}
#dwm_terminal .terminal_click .green {
    background-color: #00931a;
    box-shadow: 0 0 1px #00931a;
}
#dwm_terminal .terminal_click .green:hover {
    background-color: rgb(0, 196, 36);
    box-shadow: 0 0 3px #00931a;
}
#dwm_terminal .terminal_click div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 8px 0 0 10px;
    float: left;
}
#dwm_terminal .terminal_title {
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to top, rgb(184, 184, 184), white);
    font-size: 14px;
    line-height: 25px;
}
#dwm_terminal .terminal_title span {
    display: inline-block;
    width: 70%;
    text-align: center;
}
#dwm_terminal .terminal_content {
    padding: 2%;
    color: white;
}
#dwm_terminal .terminal_content .content_text {
    color: red;
}
#dwm_card {
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
}
#dwm_tips {
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
    opacity: 0.8;
}
#dwm_tips .tips_border {
    height: 100%;
    background-color: #B1751B;
    /* padding: 3%; */
    box-shadow: 5px 5px 5px grey;
}
#dwm_tips .tips_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 20px solid #B1751B;
    background-color: #385743;
    padding: 3%;
    font-size: 22px;
    max-width: 50%;
    max-height: 50%;
    word-break: keep-all;
    color: white;
}
