@import "dwm.css";
@import "popup.css";
@import "site.css";
@import "apps.css";
@import "plugin.css";
@import "sidebar.css";
@import "footer.css";
@import "search.css";
body {
	margin: 0;
	padding: 0;
}
.off {
    display:none
}
.hide {
    pointer-events:none;
    opacity:0
}
.show {
    pointer-events:auto;
    opacity:1
}
