#site-box {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
	text-align: center;
	z-index: 999;
	display: none;
	background-color: gray;
	opacity: 0.9;
	padding: 20px;
}
#site-box h3 {
	clear: both;
	text-align: left;
	margin: 0;
}
#site-box ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flow-root;
}
#site-box ul li {
	float: left;
	padding: 10px 20px;
}
